.btn {
  background-color: #007BFF;
  color: red;
  padding: 12px 24px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}
 .btn {
  position: absolute;
  top: 80px;
  left: 800px;
}

.btn:hover {
  background-color: #0056b3;
}
